.input,
.select {

  background: rgba(0, 0, 0, 0.33);
  color: white;
  outline: 1px rgba($colorPrimary, 1) solid;
  border-radius: 8px;
  // font-size: .75rem;
  // box-shadow: 1px 1px 10px rgba($colorPrimary, .5), 1px 1px 10px 5px rgba(50, 120, 90, .5);
  // box-shadow: inset 0px 0px 0.5em 0px var(--color-primary),
  //   0px 0px 0.5em 0px var(--color-primary);
  padding: .33rem .55rem;
  transition: var(--transition);

  &:not(.input) {
    padding: .25rem .33rem;
  }

  &:not(.select) {
    position: relative;
  }

  &.focused,
  &.filled {
    label {
      left: .55rem;
      top: .5rem;
      color: white;
    }
  }

  &.focused {
    outline: 1px rgba(255, 255, 255, .5) solid;
  }

  &:not(.filled):not(.focused) {
    label {
      top: 50%;
      transform: translateY(-.5rem) translateX(.5rem);
      font-size: 1rem;
    }
  }

  input {
    margin-top: 1.25rem;
    background: transparent;
    outline: none;
    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, .4);
    }
  }

  label {
    position: absolute;
    transition: var(--transition);
    color: rgba(255, 255, 255, .66);
  }

  .append {
    position: absolute;
    top: 50%;
    transform: translateY(-.5rem) translateX(-.5rem);
    font-size: 1rem;
    right: 0;

  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--md)
}


.select {
  cursor: pointer;

  &.mini {
    width: 50px;
  }

  .select__header {
    display: flex;
    flex: 1;
    padding: var(--sm);
  }

  .select__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}