@font-face {
    font-family: Fredoka;
    src: url("@/assets/fonts/Fredoka.ttf");
}

.debug {
    border: dashed 1px fuchsia;
}

h1 {
    font-size: 2.25rem;
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 450;
    padding-bottom: var(--sm);
    border-bottom: 1px solid white;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
    font-weight: 600;
}