.tabs-content-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: calc(100% - var(--tab-header-height));
  scrollbar-width: none;
}

.tab-headers {
  user-select: none;
  position: relative;
  background: var(--color-primary);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.35);
  display: grid;
  height: var(--tab-header-height);
  scrollbar-width: none;
  padding-bottom: .25rem;
}

.tab-header {
  font-size: 1rem;
  height: 100%;
  width: clamp(100px, 100%, 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  scroll-snap-align: start;
}

.tab-header>div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.25rem 0;
}

.tab-header-active-indicator {
  --indicator-height: 2px;
  position: absolute;
  top: calc(100% - var(--indicator-height));
  background: white;
  height: var(--indicator-height);
  transition: var(--transition);
}

.tab-content {
  scroll-snap-align: start;
  overflow-y: auto;
  padding: var(--lg);
}