.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: var(--shadow);
    backdrop-filter: blur(var(--md));
    -webkit-backdrop-filter: blur(var(--md));
    border: .5px solid rgba(255, 255, 255, .25);
}

.rounded-xs {
    border-radius: var(--xs) !important;
}

.rounded-sm {
    border-radius: var(--sm) !important;
}

.rounded-md {
    border-radius: var(--md) !important;
}

.rounded-lg {
    border-radius: var(--lg) !important;
}

.rounded-xl {
    border-radius: var(--xl) !important;
}