@font-face {
    font-family: Fredoka;
    src: url("@/assets/fonts/Fredoka.ttf");
}

:root {
    --primary: #1b8087;

    --xs: .25rem;
    --sm: .5rem;
    --md: 1rem;
    --lg: 1.5rem;
    --xl: 2.25rem;

    --zi-menus: 1000;
    --zi-tooltip: 10000;
    --zi-sidebar: 5000;
    --zi-modal: 6000;
    --zi-dialog: var(--zi-modal);

    --transition-menus: all .29s ease-out;
}

.debug {
    border: dashed 1px fuchsia;
}


h1 {
    font-size: 2.25rem;
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 450;
    padding-bottom: var(--sm);
    border-bottom: 1px solid white;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
    font-weight: 600;
}