.app-header {
    // box-shadow: var(--shadow);
    /* background: var(--color-primary); */
    background-color: $appColor;
    background-image: $appColorNoise;
  }
  
  .appbar {
    height: var(--header-height);
    /* background: var(--color-primary); */
  }