.btn {
    overflow: hidden;
    border-radius: var(--border-radius);
    border: 0;
    outline: none;
    transition: var(--transition);
    padding: var(--md);
    text-align: center;
    position: relative;
    
    &.icon-reverse {
      flex-direction: row-reverse !important;
    }

    .btn-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: .1rem 0;
    }

    &.primary {
      background: var(--app-color);
    }
    &.success {
      background: var(--color-success);
    }
    &.warning {
      background: var(--color-warning);
    }
    &.error {
      background: var(--color-error);
    }
    &.info {
      background: var(--color-info);
    }

    &.flat {
      background: none;
    }
     &.rounded {
      border-radius: 999px;
     }

    &.icon-only {
      flex: unset !important;
    }

    &.elevated {
      box-shadow: var(--shadow);
    }

    &.size-xs {
      width: calc(var(--xs) * 2);
      height: calc(var(--xs) * 2);
    }
    &.size-sm {
      width: calc(var(--sm) * 2);
      height: calc(var(--sm) * 2);
    }
    &.size-md {
      width: calc(var(--md) * 2);
      height: calc(var(--md) * 2);
    }
    &.size-lg {
      width: calc(var(--lg) * 2);
      height: calc(var(--lg) * 2);
    }
    &.size-xl {
      width: calc(var(--xl) * 2);
      height: calc(var(--xl) * 2);
    }

    &.fab {
        position: fixed;
        right: var(--md);
        bottom: calc(var(--md) + 56px);
        box-shadow: var(--shadow);
        border-radius: 999px;
        width: calc(var(--md) * 4);
        height: calc(var(--md) * 4);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
    }
  
    * {
      user-select: none;
    }
  
    &:active {
      transition: var(--transition);
      box-shadow: none !important;
    }
  
    &.disabled {
      color: rgba(255, 255, 255, 0.25);
      pointer-events: none;
    }
  
    .ripple {
      position: absolute;
      top: v-bind("ripple.y");
      left: v-bind("ripple.x");
      background: rgba(255, 255, 255, 0.25);
      width: 1rem;
      height: 1rem;
      border-radius: 999px;
      animation: ripple 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transform: translate(-50%, -50%);
      display: none;
    }
  
    .ripple.active {
      display: block;
    }
  }
  
  