.rounded-xs {
    border-radius: var(--xs) !important;
}

.rounded-sm {
    border-radius: var(--sm) !important;
}

.rounded-md {
    border-radius: var(--md) !important;
}

.rounded-lg {
    border-radius: var(--lg) !important;
}

.rounded-xl {
    border-radius: var(--xl) !important;
}

.scroll-snap-x {
    overflow: auto hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;

    @media (hover: none) {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.scroll-snap-y {
    overflow: hidden auto;
    scroll-snap-type: y mandatory;

    scroll-behavior: smooth;

    @media (hover: none) {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.glass {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .1);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        flex: 1;
        width: 100%;
        backdrop-filter: blur(var(--sm));
        z-index: -1;    
      }
}

@keyframes ripple {
    0% {
      width: 0%;
      height: 0%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      width: 100vh;
      height: 100vh;
    }
  }