
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $appColor;  
    height: var(--navbar-height);
    z-index: 100000;
  
    .navbar-button {
      height: 100%;
      flex: 1;
      text-align: center;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.66);
      text-decoration: none;
      position: relative;
      top: 0;
      transition: var(--transition-menus);
      width: calc(100% / (v-bind("menus.length") + 1));
  
      &.router-link-exact-active {
        z-index: 1;
        animation: navbar-indicator-animation 0.29s ease-in-out;
        color: white;
  
        --delta-resize: .3;
        svg {
          top: calc(var(--md) * var(--delta-resize) * -1);
          width: calc(var(--md) * (1 + 2 * var(--delta-resize))) !important;
          height: calc(var(--md) * (1 + 2 * var(--delta-resize))) !important;
        }
        .navbar-button-label {
          top: calc(var(--md) * var(--delta-resize) * -1);
        }
      }
      svg {
        position: relative;
        top: 0;
        transition: var(--transition-menus);
      }

       .navbar-button-label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.75rem;
        position: relative;
        top: 0;
        transition: var(--transition-menus);
      }

    }
  
    .navbar-button-indicator {
      position: absolute;
      bottom: 100%;
      left: 0;
      height: var(--lg);
      pointer-events: none;
      transition: var(--transition-menus);
    }
  }