// $colorPrimary: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
$colorPrimary: rgba(#054f61, 1);
$colorSuccess: #009b5f;
$colorError: #c0243e;

$appColor: linear-gradient(90deg, #0f564c 0%, $colorPrimary 100%);
// $appColor: linear-gradient(90deg, hsla(165, 89%, 11%, 1) 0%, hsla(161, 46%, 9%, 1) 100%);

$borderRadius: 16px;
$defaultfontSize: 16px;

:root {
  --color-primary: #{$colorPrimary};
  --color-success: #{$colorSuccess};
  --color-error: #{$colorError};
  --app-color: #{$appColor};
  --app-color-noise: #{$appColor};

  --default-font-size: #{$defaultfontSize};

  --xs: .25rem;
  --sm: .5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xl: 2.25rem;

  --zi-menus: 1000;
  --zi-tooltip: 10000;
  --zi-sidebar: 5000;
  --zi-modal: 6000;
  --zi-dialog: var(--zi-modal);

  --shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px, rgba(0, 0, 0, 0.3) 5px 5px 8px -5px, 0 0 15px 2px rgba(0, 0,, 0, .2);

  --transition-menus-timing: ease-out;
  --transition-menus-duration: .290s;
  --transition-menus: all var(--transition-menus-duration) var(--transition-menus-timing);
  
  --transition-timing: ease-out;
  --transition-duration: .245s ;
  --transition: all var(--transition-duration) var(--transition-timing);

  --tab-header-height: calc(var(--md) * 2);
  --header-height: calc(var(--md) * 4);
  --navbar-height: calc(var(--md) * 4);

  --border-radius: #{$borderRadius};
}