.transaction-line {
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &:active {
    background: rgba(255, 255, 255, 0.1);
  }

  .wallet-token-detail {

    .detail {
      display: flex;
      align-items: baseline;
      gap: var(--sm);

      .value {
        font-size: .75rem;
      }
    }

  }

  .positive {
    color: var(--color-success);
  }

  .negative {
    color: var(--color-error);
  }

}

.sublabel {
  color: rgba(255, 255, 255, 0.5);
}