@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0a5256;
  --success-color: #009b5f;
  --error-color: #c0243e;
  --warning-color: #c88842;
  --info-color: #604b99;
  --primary-gradient: linear-gradient(
    90deg,
    #0f564c 0%,
    var(--primary-color) 100%
  );
  --glass-background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.03) 40%,
    rgba(255, 255, 255, 0.05) 43%,
    rgba(255, 255, 255, 0.02) 60%,
    rgba(255, 255, 255, 0.04) 65%,
    rgba(255, 255, 255, 0.02) 100%
  );
}

body {
  color: white;
  overflow-x: clip;
  background: linear-gradient(-10deg, rgb(6, 9, 9) 0%, rgb(9, 26, 26) 100%);
  background-attachment: fixed;
  font-weight: 400;
  font-family: Satoshi;
}

@layer base {
  @font-face {
    font-family: Satoshi;
    src: url("@/assets/fonts/Satoshi.ttf");
  }

  .bg-primary {
    background: var(--primary-gradient);
  }

  .bg-primary-nogradient {
    background: var(--primary-color);
  }

  .outline-primary {
    outline-color: var(--primary-color);
  }
  .border-primary {
    border-color: var(--primary-color);
  }
  .text-primary {
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-glass {
    background: var(--glass-background);
  }

  .scrollbar-none {
    scrollbar-width: none;
  }

  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-display: swap;
    src: url("@/assets/fonts/MaterialSymbols.ttf") format("truetype");
  }

  .mi {
    font-family: "Material Icons";
    font-weight: 300;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
}
